<?xml version="1.0" encoding="UTF-8"?>
<!-- This file contains job definitions in schema version 2.0 format -->
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">

  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <schedule>
    <job>
      <name>Job1</name>
      <group>Jobs</group>
      <description>任务1</description>
      <job-type>Wlitsoft.ProjectSample.QuartzNETWinService.Job.Job1,QuartzNETWinService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <simple>
        <name>Job1Trigger</name>
        <group>Jobs</group>
        <description>每 30 秒执行一次</description>
        <job-name>Job1</job-name>
        <job-group>Jobs</job-group>
        <repeat-count>-1</repeat-count>
        <repeat-interval>30000</repeat-interval>
      </simple>
    </trigger>
  </schedule>
</job-scheduling-data>